:root {
    --background: #000000;
    --accent-color: #DC143C;
    --text-color: #ffffff;
    --element-background: rgba(220, 20, 60, 0.15);
    --border-color: rgba(220, 20, 60, 0.3);
}

@import url('../stylePrincipal.css');

.theme-crimson {
    background-color: var(--background);
    color: var(--text-color);
}

/* Styles spécifiques au thème Crimson */
.nav-buttons {
    display: flex;
    gap: 15px;
    position: relative;
}

.nav-toggle, .theme-toggle {
    color: var(--text-color);
    padding: 12px 20px;
    border-radius: 15px;
    background: var(--element-background);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease;
}