:root {
    --background-color: #1a0000;
    --text-color: #FFFFFF;
    --link-color: #ff1a75;
    --button-background: #330000;
    --button-hover-background: #4d0000;
    --border-color: #660000;
    --highlight-color: #FF4500;
}